html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #FCFCFC;
  /* background-color: #ECECEC; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.CardFood-Block {
  display: inline-flex;
  /* border: 1px solid; */
  margin-top: 20px;
  justify-content: center;
  /* border: 1px solid; */
}