nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: red;
    background-color: #333;
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100%;
}

li.link {
    display: inline;
    margin: 15px;
    color: white;
    /* t; */
}

li.brand {
    display: inline;
    color: white;
    margin-right: 15px;
    font-size: larger;
    font-weight: 900;
}